<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bo">

	<resultMap id="boMap" type="board">
		<id column="boardno" property="boardNo"/>
		<result column="boardno" property="boardNo"/>
		<result column="boardtitle" property="boardTitle"/>
		<result column="boardwriter" property="boardWriter"/>
		<result column="boardcontent" property="boardContent"/>
		<result column="boarddate" property="boardDate"/>
		<result column="boardreadcount" property="boardReadCount"/>
		<collection property="files" ofType="attachment">
			<id column="attachmentno" property="attachNo"/>
			<result column="originalfilename" property="originalFilename"/>
			<result column="renamedfilename" property="renamedFilename"/>
			<result column="boardno" property="boardNo"/>
			<result column="downloadcount" property="downloadCount"/>
			<result column="status" property="status"/>
			<result column="uploaddate" property="uploadDate"/>
		</collection>
	</resultMap>

	<select id="selectboardlist" resultMap="boMap">
		SELECT * FROM BOARD	LEFT JOIN ATTACHMENT USING(BOARDNO)
		ORDER BY BOARDNO
	</select>
	
	<select id="selectboard" resultMap="boMap" parameterType="_int">
		SELECT * FROM BOARD	LEFT JOIN ATTACHMENT USING(BOARDNO)
		WHERE BOARDNO = #{boardNo}
	</select>
	
	<insert id="insertboard" parameterType="board">
		INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL,#{boardTitle}, #{boardWriter},#{boardContent},DEFAULT,DEFAULT)
		
	</insert>
	
	<update id="boardreadcountup" parameterType="_int">
		UPDATE BOARD SET BOARDREADCOUNT = BOARDREADCOUNT+1 WHERE BOARDNO = #{boardNo}
	</update>
	
	<select id="selectboardcount" resultMap="boMap">
		SELECT * FROM BOARD
	</select>
</mapper>
