<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 
		logger 객체를 이용해서 log를 출력하는 방법에 대한 설정 
		1. appender 설정 -> 출력하는 방식, 출력패턴을 설정
		2. logger 설정 -> 출력 대상이 되는 패키지 범위를 설정, 출력 level 설정
	-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<!-- <layout class="org.apache.log4j.SimpleLayout"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name = "ConversionPattern" value="%-5p [%d{yyyy-MM-dd HH:mm:ss}] : [%l] - %m%n"/>
		</layout>
		<!-- <layout class="org.apache.log4j.HTMLLayout"/> -->
		<!-- <layout class="org.apache.log4j.xml.XMLLayout"/> -->
	</appender>
	
	<!-- file출력 appender등록하기 -->
	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/Users/uoahir/logs/spring-log.log"/>
		<param name="append" value="true" />
		<param name="datePattern" value="yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name = "ConversionPattern" value="%-5p [%d{yyyy-MM-dd HH:mm:ss}] : [%l] - %m%n"/>
		</layout>
	
	</appender>
	
	<appender name="sqlAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %m%n"/>
		</layout>
	</appender>
	
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="info"/>
		<appender-ref ref="sqlAppender"/>
	</logger>
	
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="info"/>
		<appender-ref ref="sqlAppender"/>
	</logger>
	
	
	<logger name="com.bs.spring">
		<level value="debug"/>
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="org.springframework.core">
		<level value="info"/>
	</logger>
	<logger name="org.springframework.beans">
		<level value="info"/>
	</logger>
	<logger name="org.springframework.context">
		<level value="debug"/>
	</logger>
	<logger name="org.springframework.web">
		<level value="debug"/>
	</logger>
	<root>
		<priority value="warn"/>
		<appender-ref ref="console"></appender-ref>
	</root>
</log4j:configuration>